@model IEnumerable<dynamic>
@{
    ViewData["Title"] = "Home Page";
}

<main class="overflow-hidden">
    <section class="my-5 w-100" >
         <div class="hero_slide">
           <img style="max-height: 500px;" src="~/assets/carousel/1.jpg" alt="Alternate Text" />
            <img style="max-height: 500px;" src="~/assets/carousel/2.jpg" alt="Alternate Text" />
            <img style="max-height: 500px;" src="~/assets/carousel/3.jpg" alt="Alternate Text" />
            <img style="max-height: 500px;" src="~/assets/carousel/4.jpg" alt="Alternate Text" />
            <img style="max-height: 500px;" src="~/assets/carousel/5.jpg" alt="Alternate Text" />
            <img style="max-height: 500px;" src="~/assets/carousel/6.jpg" alt="Alternate Text" />
            
         </div>
    </section>

    <section class="container" style="max-width: 1120px; padding: 0 3rem;">
        <h2 class="m-0 pb-3">Our <span style="color: rgb(237, 81, 25);">Popular</span> Products</h2>
        <p>
            Experience top-notch quality and style with our sought-after <br>selections. Discover a world of comfort, design, and value.
        </p>
